  
.container {
    display: inline-block;
    flex-direction: column;
    margin: 15px 5px 5px;
}

.containerInfo {
    display: wrap;
    margin: 15px 5px 5px;
}

.eventBtn {
    width: 10rem;
    height: 1.5rem;
    margin: 5px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}